<h1>Welcome to Coatroom</h1>

Search for CoatRooms
<br/>
Enter an address to search for locations in the area.
<br/>
<form action="/coatroom/search" method = "get"><input type="text" name = 'search_term' placeholder="Enter an address"><input type="submit"></form>

<a href="/users/new">Sign up as a User</a>
<br/>
<a href="/checkers/new">Sign up as a Checker</a>

