<div class="container">
  <div class= "sixteen columns">
    <h1>Coatroom</h1>
  </div>

  <div class= "sixteen columns">
    <h3>Edit Your Account</h3>

    <%= render 'form' %>
    <%= link_to "Return to Search", root_path %>
  </div>
</div>
