<div class="container">
  <div class= "sixteen columns">
    <h1>Coatroom</h1>

    <ul>
      Admins Only!
      <% @users.each do |user| %>
        <li><%= user.first_name %> <%= user.last_name %> <%= user.email %>. <%= link_to 'Delete User', user_path(user), :method => :delete %></li></li>
      <% end %>
    </ul>

  </div>
</div>
