<div class="container">
  <div class= "sixteen columns">
    <h1>Coatroom</h1>
  </div>

  <div class= "sixteen columns">
    <h3>Create Account</h3>
  </div>

  <div class= "sixteen columns">
    <%= render 'form' %>
    <%= link_to "Return to Search", root_path %>
  </div>


</div>
